<html>
<body>
<p><a href="{{ absolute_url("/") | slice(0, -1) }}{{ path("reset_password_form") }}?token={{ token }}">Click to reset password</a></p>
<p>If you have not asked to reset your password, please ignore this message.</p>
</body>
</html>